.confirm {
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #46a37c;
}

.confirm:hover {
  background-color: rgb(72, 189, 140);
}

.cancel {
  text-align: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #f04c2a;
}

.cancel:hover {
  background-color: rgb(255, 103, 72);
}
