.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(55, 56, 103, 69%);
}

.modal {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 559px;
  height: auto;
  padding-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.modalText h4 {
  font-size: 15px;
  font-weight: 700;
  color: #373867;
}

.modalText p {
  color: hsl(239, 30%, 10%);
  font-size: 15px;
  color: #6a6b94;

}

.button {
  width: 70px;
  height: 36px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #373867;
  color: #373867;
  align-self: center;
}
