.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container h1 {
  margin: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.editingEmployee {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerEditEmployee {
  display: flex;
  flex-direction: column;
}

.button {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100px;
  color: #fff;
  background-color: #606197;
}

.button:hover {
  background-color: #373867;
}

.buttonAddEmployee {
  display: flex;
  justify-content: center;
}

.newEmployeeInputs {
  display: flex;
  align-items: center;
}

.editingEmployee h5 {
  margin: 5px;
  font-size: 16px;
}
