.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box1 {
  width: 20%;
  padding-left: 5vw;
  padding-top: 1.5vw;;
  align-self: center;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 53%;
  height: 30vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
  background-color: white;
  border-radius: 2%;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.form {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
}
.form div {
  display: flex;
  flex-direction: row;
}
.form div div {
  display: flex;
  flex-direction: column;
}

.butCont {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.errorDiv h4 {
  font-size: 20px;
  color: #373867;
}

.errorDiv p {
  font-weight: 500;
  text-align: center;
}

.title {
  margin: 1vw 0vw 0vw 1vw ;
}
