.container, .form {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butCont {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  color: #373867;
  text-align: center;
}

.passwordDiv {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.revealButton {
  margin-top: 20px;
}