.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: #373867;
  text-align: center;
}