.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.boxContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  padding: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 20px;
  margin: 7px;
}

select {
  width: 70%;
  padding-left: 20px;
}

form {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #dfe4de;
  border-radius: 5px;
  border-collapse: collapse;
}

.buttons {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmButton {
  width: 70px;
  height: 36px;
  margin-left: 14px;
  border: none;
  border-radius: 5px;
  background-color: #f13312;
  color: #fff;
}

.cancelButton {
  width: 70px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #373867;
  color: #373867;
}

.container h1 {
  margin: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

label {
  color: #373867;
}
