.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.boxContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  padding: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #DFE4DE;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 5px;
  margin: 7px;
}

select {
  width: 70%;
  padding-left: 20px;
}

form{
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #DFE4DE;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #373867;
}

.buttons {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmButton {
  width: 70px;
  height: 36px;
  margin-left: 14px;
  border: none;
  border-radius: 5px;
  background-color:#F13312;
  color: #fff;
}

.cancelButton {
  width: 70px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #373867;
  color: #373867;
}

.title {
  color: #373867;
  text-align: center;
  font-size: 25px;
}

label {
  color: #373867;
}
