.label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #0b0b0c;
  align-self: flex-start;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 2vw 0vw 2vw;
  text-align: center;
}

.input {
  display: flex;
  width: 18vw;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-style: none;
  border: 1px solid #373867;
  border-radius: 4px;
  outline: none;
  background: white;
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #373867;
  opacity: 0.5;
}

.error {
  color: orange;
  margin: 0px 0px 10px 0px;
  font-size: 15px;
}
