.container {
    position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
width: 634px;
height: 336px;


}