.tableContent {
  height: auto;
  width: 916px;
  margin: 50px;
  border: 1px solid #DFE4DE;
  border-radius: 5px;
  border-collapse: collapse;
}


.tableContent thead tr {
  background-color: #373867;
  color: #ffffff;
}

.tableContent tr:hover {
  background-color: #f8faf7;
}

.tableContent th {
  height: 50px;
  font-weight: 500;
  background-color: #373867;
  color: #fff;
}

.tableContent td {
  height: 40px;
  color: #373867;
  text-align: center;
  border-top: 1px solid #DFE4DE;
}

.button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100px;
  color: #fff;
  background-color: #606197;
}

.button:hover {
  background-color: #373867;
}

.div {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #AACE9B;
  color: #373867;
  font-weight: 600;
}