.container, .form {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butCont {
    width: 290px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #373867;
    text-align: center;
}


