.container {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  background-color: #373867;
  padding: 1em;
  color: white;
  border-radius: 5px;
  margin-bottom: 2em;
}

.fields {
  margin: 2em;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.logout {
  align-self: flex-end;
  margin-right: 100px;
}

.mainContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}
