.container {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  background-color: #373867;
  padding: 1em;
  color: white;
  border-radius: 5px;
  margin-bottom: 2em;
}

.fields {
  margin: 2em;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.logout {
  align-self: flex-end;
  margin-right: 100px;
}
