.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  margin: 15% auto;
  width: fit-content;
  border: 1px solid #888;
  background-color: #fefefe;
}

.modalTitles {
  margin: 5px 0;
  color: red;
  line-height: 1.5;
}

.close {
  margin-left: 20px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}