.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(55, 56, 103, 69%);
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  width: 500px;
  height: 120px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.message {
  font-size: 14px;
  font-weight: 700;
  color: #373867;
}

.buttonConfirm {
  width: 70px;
  height: 37px;
  margin-left: 14px;
  border: none;
  border-radius: 5px;
  border: 1px solid #373867;
  color: #373867;
}