.container {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(55, 56, 103, 0.69);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 25px;
  left: 50%;
  top: 50%;
  width: 588px;
  height: 165px;
  border-radius: 5px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  color: #373867;
}

.p {
  margin: 0;
  color: #373867;
  opacity: 0.5;
}

.buttonContainer {
  display: flex;
  width: 30%;
  align-self: flex-end;
  margin-right: 40px;
  justify-content: space-between;
}

.buttonConfirm {
  width: 96px;
  height: 35px;
  padding: 10px 24px;
  border: none;
  color: #fff;
  background: #F13312;
  border-radius: 5px;
}

.buttonCancel {
  width: 70px;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #373867;
  background-color: #fff;
  border-style: none;
  border: 2px solid #373867;
  border-radius: 5px;
}

.buttonCancel:hover, .buttonConfirm:hover {
  cursor: pointer;
}